img {
    height: 40%;
}

.login {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goRegister {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.anotherSignIn {
    font-size: 0.9rem;
    margin: 0 0 0.5rem 0;
}

.buttonContainer {
    display: flex;
    gap: 1.5rem;
}
