.home {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.goProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--orange1);
  color: var(--white);
}
