.home {
  height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

.currentUser,
.allPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--orange1);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .currentUser {
    width: 30%;
  }
  .allPosts {
    width: 60%;
  }
}
