.home {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.currentUser {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pic {
    background: var(--gray);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

