form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0.5rem;
    outline: none;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid var(--gray);
    color: var(--white); /*Cambiar pq no se ve en los modales*/
}

form h1 {
    color: var(--orange2);
    margin: 0 0 0.5rem 0;
    align-self: flex-start;
}

form label {
    align-self: flex-start;
    font-size: 0.9rem;
}

form button {
    margin: 1rem;
}

textarea {
    width: 100%;
}

.message {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}

.postForm {
    background: var(--gray);
    box-shadow: 2px 2px 10px rgb(68, 66, 66);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
}

.imageButton {
    width: 32px;
    height: 32px;
    padding: 0;
    background: var(--orange1);
}

.imageButton i {
    filter: invert();
}

.textArea {
    background: rgb(235, 234, 234);
    color: var(--gray2);
    font-size: 0.9rem;
    height: 8rem;
}


select, .modalGenre {
    width: 100%;
    background: rgb(235, 234, 234);
    color: var(--gray2);
    border: none;
    padding: 0.5rem;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
}