form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0.5rem;
    outline: none;
    border-radius: 0;
    background: var(--black);
    border-bottom: 1px solid var(--gray);
    color: var(--white);
}

form h1 {
    color: var(--orange2);
    margin: 0 0 0.5rem 0;
    align-self: flex-start;
}

form label {
    align-self: flex-start;
    font-size: 0.9rem;
}

form button {
    margin: 1rem;
}

.message {
    font-size: 0.8rem;
    margin: 0 0 1rem 0;
}