img {
    height: 40%;
    max-width: 100%;
}

.error {
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error p {
    margin: 1rem
}

.error button {
    background: var(--orange2);
    color: var(--white);
}

.error h1 {
    color: var(--orange2);
}